//Basic colors
@gray--lighten:                 #f8f8f8; //bg of main content block
@gray--light:                   #f6f6f6; //document bg
@gray--lightest:                #eaeaea; //bg of good cards, social block
@gray:                          #e0e0e0; //bg of aside block
@gray--dark:                    #373737; //footer bg
@gray--darkest:                 #333;    //small footer bg, bg of selected menu item

//Document text colors
@color-main-text:               #333;
@color-secondary-text--light:   #fff;
@color-secondary-text--dark:    #000;

//Header colors
@color-header-bg:               #abeafa; 
@color-header-text:             #fff51f;
@color-header-btn-bg:           @color-header-text;
@color-header-welcome-block-bg: @color-header-text;

//Menu colors
@color-menu-bg:                 #26d2fc;

//Footer colors
@color-footer-text:             @color-secondary-text--light;
@color-footer-text--dark:       #dad9d9;
@color-footer-btn-bg:           #000;
@color-footer-placeholder-bg:   #fff51f;
@color-footer-email-text:       #faef03;

//Icon colors
@color-icon-facebook:           #3b5997;
@color-icon-twitter:            #3fccfd;
@color-icon-pinterest:          #cb2027;
@color-brand-block-bg:          #fff;

//Goods block colors
@color-good-corner-new-bg:      #e24602;
@color-good-corner-hot-bg:      #faef03;
@color-good-wrapper-bg:         #fff;
@color-old-price-text:          #e24602;

//Mixin for colors including
.fontInclude(@fontName; @urlName:@fontName; @weight:400; 
  @style:normal) {
  font-family: '@{fontName}';
  src: url('../fonts/@{fontName}/@{urlName}.ttf') format('truetype'),
       url('../fonts/@{fontName}/@{urlName}.woff') format('woff'), 
       url('../fonts/@{fontName}/@{urlName}.woff2') format('woff2');     
  font-weight: @weight;
  font-style: @style;
}

//Font-family variables
@roboto: 'Roboto';
@robotoBlack: '@{roboto}-Black';
@robotoBlackItalic: '@{robotoBlack}Italic';
@robotoBold: '@{roboto}-Bold';
@robotoRegular: '@{roboto}-Regular';

@raleway: 'Raleway';
@ralewayRegular: '@{raleway}-Regular';
@ralewayBold: '@{raleway}-Bold';
@ralewayExtraBold: '@{raleway}-ExtraBold';
@ralewayHeavy: '@{raleway}-Heavy';

//Fonts including
@font-face {
  .fontInclude(@roboto; @robotoBlack; 900);
}

@font-face {
  .fontInclude(@roboto; @robotoBlackItalic; 900; italic);
}

@font-face {
  .fontInclude(@roboto; @robotoBold; 700);
}

@font-face {
  .fontInclude(@roboto; @robotoRegular);
}

@font-face {
  .fontInclude(@raleway; @ralewayRegular);
}

@font-face {
  .fontInclude(@ralewayBold; @ralewayBold; 700);
}

@font-face {
  .fontInclude(@raleway; @ralewayExtraBold; 700);
}

@font-face {
  .fontInclude(@raleway; @ralewayHeavy; 800);
}

//Mixin for 'display:flex' prefixes
.displayFlex() {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;  
}


* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}


body {
  background-color: @gray--light;
}

main, header, footer, .lowerFooter {
  margin: 0 auto;
  width: 1500px;
}

header {
  height: 700px;
  background-color: @color-header-bg;
}

.headerLogo {
  padding: 24px 229px 0 234px;

  div {
    width: 150px;
    float: right;
    margin-top: 26px;
    .displayFlex;
    justify-content: space-between;
  }
}

.headerTextBlock {
  padding: 108px 274px 0 165px;
}

.funride {
  float: right;

  p {

    &:nth-child(1) {
      text-transform: uppercase;
      font: 700 48px @raleway;
      color: @color-header-text;
      line-height: 34px;
      text-align: left;
    }

    &:nth-child(2) {
      font: 400 18px @raleway;
      color: @color-header-text;
      line-height: 24px;
      text-align: left;
      margin-top: 5px;
    }
  }

  button {
    background-color: @color-header-btn-bg;
    width: 124px;
    height: 49px;
    font: 800 14px @raleway;
    color: @color-secondary-text--dark;
    text-transform: uppercase;
    border-style: none;
    margin: 57px 0 0;
    text-align: center; 
  }
}

.welcome {
  height: 300px;
  width: 270px;
  background-color: @color-header-welcome-block-bg;
  color: @color-main-text;
  margin-top: 80px;

  p {

    &:nth-child(1) {
      font: 700 30px @raleway;
      padding: 60px 10px 10px 20px;
      text-transform: uppercase;
      font-size: 30px;
      line-height: 30px;
      text-align: left;
    }

    &:nth-child(2) {
      font: italic 700 18px @raleway;
      padding: 20px 10px 10px 20px;
      line-height: 14px;
      text-align: left;
    }
  }
}

main {
  background-color: @gray--light;
  height: 2317px;
}

aside {
  width: 270px;
  float: left;
  margin: -20px 0 0 165px;

  div {
    height: 300px;
    width: 100%;
    background-color: @gray;
    margin: 30px 0 0 0; 

    p {
      font: italic 800 36px @raleway;
      color:  @gray--darkest;
      line-height: 36px;
      text-align: left;
      text-transform: uppercase;
      padding: 140px 0 0 140px;
    }
  }
}

menu {
  background-color: @color-menu-bg;
  width: 100%;
  height: 475px;
  list-style: none;
  font: 900 14px @roboto;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;

  li {
    &:nth-child(1) {
      padding: 0 0 0 36px;
      color: @color-secondary-text--light; 
      height: 66px;
      line-height: 66px;
      background-color: @gray--darkest; 
    }
  } 

  a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 0 0 36px;
    box-sizing: border-box;
    text-decoration: none;
    color: @color-secondary-text--dark;

    &:hover {
      background-color: @gray--darkest;
      color: @color-secondary-text--light;
    }      
  }
}

.goodsWrapper {
  width: 870px;
  float: right;
  margin: -20px 165px 0 0;
}

.goods {
  width: 870px;
  background-color: @gray--lighten;
  height: 760px;
  .displayFlex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column; 

  & > p {
    font: italic 900 22px @roboto;
    color: @color-main-text;
    text-align: left;
    text-transform: uppercase;
    line-height: 80px;
    padding: 0 0 0 25px;
  }
}

.smallGoods {
  height: 400px;
  margin: 46px 0 0 0;
}

.picturesWrapper {
  height: 680px;
  .displayFlex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.smallPicturesWrapper {
  height: 312px;
}

.pictures {
  width: 270px;
  height: 320px;
  background-color: @color-good-wrapper-bg;
}

.pictureIcon {
  background-color: @gray--lightest;
  width: 250px;
  height: 235px;
  margin: 10px auto 0;
}

.pictureText {
  .displayFlex;
  justify-content: space-between;
}

.pictureTextTitle, .picturePrice {
  font: italic 900 18px @roboto;
  color: @color-main-text;
} 

.pictureTextTitle {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  padding: 24px 0 0 26px;
}

.picturePrice {
  text-align: right;
  padding: 24px 10px 0 0;
}

.pictureOldPrice {
  font: italic 900 14px @roboto;
  color: @color-old-price-text;
  text-align: right;
  text-decoration: line-through;
}

.corners {
  img {
    float: right;
  }

  p {
    font: 400 9px @roboto;
    text-align: left;
    margin-top: 10px;
    text-transform: uppercase;
    float: right;
    position: relative;
    left: 42px;
  }
}

.new {
  color: @color-secondary-text--light;
}

.hot {
  color: @color-secondary-text--dark;
}

.clear {
  width: 1170px;
  clear: both; 
}

.socialWrapper {
  width: 1170px;
  height: 660px;
  margin: 25px auto 0;
  background-color: @gray--lightest;
}

.brands {
  background-color: @color-brand-block-bg;
  height: 160px;

  div {
    text-align: center;
    padding-top: 70px;
  }
}

.insta {
  background-color: @gray--lightest;
  height: 350px;
  padding-top: 51px;
  box-sizing: border-box; 

  div {

    &:nth-child(1) {
      text-align: center;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
    }

    &:nth-child(2) {
      margin-top: 26px;
      display: flex;
      justify-content: space-between;
    }

    & > p {
      font: italic 900 22px @roboto;
      color: @gray--darkest;
      text-align: left;
      margin: 0 0 0 8px;
      display: inline-block; 
    }
  }
}

.social {
  height: 150px;

  div {
    width: 390px;
    height: 150px;
    float: left;
    text-align: center;

    &:nth-child(1) {
      background-color: @color-icon-facebook;
    }

    &:nth-child(2) {
      background-color: @color-icon-twitter;    
    }

    &:nth-child(3) {
      background-color: @color-icon-pinterest;    
    }

    img {
      margin-top: 45px;
    }
  }
}

footer {
  height: 348px;
  background-color: @gray--dark;
  .displayFlex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;

  form {
    padding: 17px 0 0 0;
    margin: 0px;

    input {
      
      font: 400 12px @roboto;

      &[type="email"] {
        font-weight: 700;
        background-color: @color-footer-placeholder-bg;
        width: 180px;
        height: 30px;
        border: none;
        color:  @color-main-text;
        line-height: 21px;
        text-align: left;
        padding: 0 0 0 21px;
        box-sizing: border-box;
      }

      &[type="submit"] {
        background-color: @color-footer-btn-bg;
        width: 71px;
        height: 30px;
        border: none;
        box-sizing: border-box;
        color:  @color-footer-text;
        line-height: 21px;
        text-align: left;
        text-align: center;
      }
    }
  }
}

.footerWrapper {
  height: 301px;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: baseline;
  width: 1100px;
  margin: 0 auto;

  .navWrapper {
    
    &:nth-child(1) {
      width: 105px;
    }

    &:nth-child(2) {
      width: 140px;
    }

    &:nth-child(3) {
      width: 120px;
    }
  }
}

.lowerFooter {
  height: 47px; 
  background-color: @gray--darkest;
}

.lowerFooterWrapper {
  margin: 0 auto;
  width: 1200px;
  .displayFlex;
  justify-content: space-between;

  div {
    width: 223px;
    float: right;
    margin-top: 20px;
    .displayFlex;
    justify-content: space-between;
  }

  p {
    font: 400 12px @roboto;
    color:  @color-footer-text--dark;
    line-height: 21.6px;
    text-align: left;
    margin: 21px 0 0 0;
  }
}

.navWrapper {
  margin-top: 75px;

  nav {
    margin-top: 30px;

    a {
      font: 400 12px @roboto;
      color: @color-footer-text;
      line-height: 18px;
      text-align: left;
      text-decoration: none;
    }
  }
}

.navTitle {
  font: 700 18px @raleway;
  color: @color-footer-text;
  text-align: left;
}

.emailInfo {
  font: 400 12px @roboto;
  color: @color-footer-text;
  line-height: 12px;
  text-align: left;
  width: 195px;
  padding: 6px 0 0 0;
}

.cards {
  width: 300px;
  height: 30px;
  margin: 40px 0 0 -9px;

  img {
    margin-left: 6px;

    &:first-child {
      margin-left: 0px;
    }
  }
}

.aboutInfo {
  font: 400 12px @roboto;
  color: @color-footer-text;
  line-height: 12px; 
  text-align: left;
  width: 200px;
  padding: 6px 0 0 0;
}

.phoneEmailWrapper
{
  margin: 10px 0 0 0;

  p {
    display: inline-block;
  }
}

.phoneEmailLabel {
  font: 400 14px @roboto;
  color: @color-footer-text;
  text-align: left;
}

.phoneInfo {
  font: 400 14px @roboto; 
  color: @color-footer-text;
  text-align: left;
}

.email {
  font: 400 14px @roboto;
  color: @color-footer-email-text;
  text-align: left;
}


